.main-menu {
    &__row {
        height: 45vh !important;
    }
    
    &__item {
        padding-top: 10vh !important;
        text-align: center;
        color: #fff;
        height: 100%;
        &-title {
            font-size: 8.33vh;
            margin-top: .625vw;
            text-transform: lowercase;
            font-family: "Montserrat";
            font-weight: 500;
        }
        &-icon {
            width: 10vw;
            height: 10vw;
            color: #fff;
        }
    }
}