@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.paused {
    -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}

.now-printing {
    &__layer {
        &-current {
            z-index: 2;
            font-size: 4.16vh;
            font-weight: 500 !important;
            text-align: center;
            color: #fff;
            height: 100%;
        }
    }

    &__progress {
        top: 11vh;
        position: absolute;
        z-index: 0;
        height: 31vh;
        background-color: #fdcb6e;
        border-top-right-radius: 1vh;
        border-bottom-right-radius: 1vh;
        transition: width 1s;

        &-below {
            z-index: 2 !important;
        }
        &-details {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__details {
        z-index: 2;
        margin-left: 5vw;
        margin-right: 5vw;

        @media(max-height: 400px) {
            margin-top: 2vh;
        }
        @media(min-height: 400px) {
            margin-top: 3.125vh;
        }

        &-title {
            color: white;
            font-size: 8.33vh;
            font-weight: 400;
            display: block;
            margin-top: 3.125vh;
            height: 8.33vh;
            padding-top: 1.04vh;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: -6px;
            margin-left: -6px;
        }
        &-subtitle {
            color: white;
            font-size: 4.16vh;
            font-weight: 300;
            margin-top: 0;
            margin-right: -1.04vh;
        }

        &-percent {
            color: white;
            font-size: 8.33vh;
            font-weight: 400;
            display: inline;
            max-width: 80vw !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-remaining {
            color: white;
            line-height: 5.2vh;
            font-size: 6.25vh;
            font-weight: 400;
            display: inline;
            max-width: 80vw !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__overview {
        @media(min-height: 400px) {
            margin-top: 5vh;
        }

        &-item {
            z-index: 2;
            font-size: 4.16vh;
            font-weight: 300;
            text-align: center;
            color: #fff;
            height: 100%;
        }

        &-text {
            font-size: 6.25vh;
            float: left;
        }
        &-text-small {
            font-size: 4.16vh;
            margin-top: -1.04vh;
            float: left;
        }
    }

    &__dialog {
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 7vh;
        text-align: center;
        &-title {
            color: #fff;
        }
        &-actions {
            font-weight: 400;
            font-size: 4.16vh;
            margin-top: 4.16vh;
        }
        &-action-bad {
            &__icon {
                color: #ff7675;
            }
            color: #ff7675;
        }
        &-action-good {
            &__icon {
                color: #55efc4;
            }
            color: #55efc4;
        }
        &-action-neutral {
            &__icon {
                color: #dfe6e9;
            }
            color: #dfe6e9;
        }
    }
}