.screensaver {
    &__container {
        background-color: #2d3436;
        overflow: hidden;
        padding: 0px !important;
        height: 100vh;
    }
    &__logo {
        height: 30vh;
        margin: auto;
        display: block;
        margin-top: 32vh;
    }
}