.main-menu {
    &__container {
        background-color: #2d3436;
        overflow: hidden;
        padding: 0px !important;
    }
    &__row {
        height: 45vh !important;
    }
    
    &__item {
        padding-top: 10vh !important;
        max-width: 20px;
        text-align: center;
        color: #fff;
        height: 100%;
        &-title {
            font-size: 40px;
            margin-top: 5px;
            text-transform: lowercase;
            font-family: "Montserrat";
            font-weight: 500;
        }
        &-icon {
            width: 10vw;
            height: 10vw;
            margin-left: 3vh;
        }
    }

    &__header {
        height: 10vh !important;

        &-item {
            font-size: 20px;
            font-weight: 500;
            max-width: 20px;
            text-align: center;
            color: #fff;
            height: 100%;
        }
    }
}