.main-menu {
    &__row {
        height: 45vh !important;
    }
    
    &__item {
        padding-top: 10vh !important;
        max-width: 20px;
        text-align: center;
        color: #fff;
        height: 100%;
        &-title {
            font-size: 40px;
            margin-top: 5px;
            text-transform: lowercase;
            font-family: "Montserrat";
            font-weight: 500;
        }
        &-icon {
            width: 10vw;
            height: 10vw;
            color: #fff;
        }
    }

    &__header {
        height: 10vh !important;
        &-item {
            font-size: 20px;
            font-weight: 500;
            max-width: 20px;
            text-align: center;
            color: #fff;
            height: 100%;
        }
    }
}