.quickadjust {
    &__action {
        color: #fff;
        font-size: 6vh;
        font-weight: 400;
        margin-left: 1.875vw;
        margin-right: 1.875vw;
    }

    &__set {
        color: #fff;
        font-size: 8vh;
        font-weight: 300;
        @media(min-height: 400px) {
            margin-top: -1vh;
            font-size: 10vh;
        }
        @media(max-height: 400px) {
            margin-top: -3.5vh;
        }
    }

    &__modal {
        &-container {
            display: flex;
            z-index: 10;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100vw;
            height: 100vh;
            background-color: rgba(28,35,37,0.8);
        }
    
        &-wrapper {
            color: #fff;
            z-index: 12;
            margin: auto;
            @media(max-height: 400px) {
                width: 45vw;
            }
            @media(min-height: 400px) {
                width: 40vw;
            }
            height: 70vh;
            border-radius: 20px;
            padding: 2.08vh;
            background-color: rgba(28,35,37,0.2);
            border: 4px solid #fff;
        }
    }
}