/**
 *
 * Central styles for Vuetify animations,
 * modals, headers, and menus.
 *
 */

.fade-enter-active, .fade-leave-active {
transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

.barberpole {
    background-image:
    repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 1rem,
        #E8B763 1rem,
        #E8B763 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 7s linear infinite;
}

.spin {
    animation: spin 1.5s infinite linear;
}

.modal {
    &-container {
        display: flex;
        z-index: 10;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        background-color: rgba(28,35,37,0.9);
    }

    &-wrapper {
        color: #fff;
        z-index: 12;
        margin: auto;
        width: 40vw;
        height: 70vh;
        border-radius: 20px;
        padding: 1.25vw;
        padding-left: 1.875vw;
        padding-right: 1.875vw;
        background-color: rgba(28,35,37,0.9);
    }

    &-title {
        color: #fff;
        font-size: 4.16vh;
    }

    &-close {
        float: right;
        margin-right: -0.25vw;
    }
}

.container {
    background-color: #2d3436;
    overflow: hidden;
    padding: 0 !important;
    height: 100vh;
}

.header {
        height: 10vh !important;

        &-item:first-of-type {
            z-index: 2;
            font-size: 4.16vh;
            font-weight: 500 !important;
            text-align: left;
            color: #fff;
            height: 100%;
            float: left;
            padding-left: 5vw;
        }

        &-item:last-of-type {
            z-index: 2;
            font-size: 4.16vh;
            font-weight: 500 !important;
            text-align: right;
            color: #fff;
            height: 100%;
            float: left;
            padding-right: 5vw;
        }

        &-padded-item {
            @media(min-height: 400px) {
                margin-top: 1.2vh;
            }
            @media(max-height: 400px) {
                margin-top: .6vh;
            }
        }

        &-item {
            z-index: 2;
            font-size: 4.16vh;
            font-weight: 300;
            text-align: center;
            color: #fff;
            height: 100%;
            @media(max-height: 400px) {
                margin-top: -1.2vh;
            }
        }
    }

.global-notifications {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

::-webkit-scrollbar {
    width: 3vw;
    box-shadow: none;
    outline: none;

    &-track {
        background: transparent;
        border-radius: 0.85vw;
        box-shadow: none;
        outline: none;

        &-piece {
            &:end {
                background: transparent;
                margin-bottom: 6vh;
            }

            &:start {
                background: transparent;
                margin-top: 4vh;
            }
        }
    }

    &-thumb {
        background: rgba(127, 143, 166, 0.8);
        border-radius: 0.85vw;
        box-shadow: none;
        outline: none;
    }
}

.scroll__thumb-inactive {
    display: block;
    background-color: rgba(127, 143, 166, 0.3);
    width: 3vw;
    height: 66.4vh;
    position: fixed;
    right: 2.5vw;
    top: 28vh;
    border-radius: 0.89vw;
    z-index: 0;
    pointer-events: none;
}